---
import { LOCALES, DEFAULT_LOCALE } from "@src/consts";
import { getLocale, getUrlWithoutLocale } from "astro-i18n-aut";

const currentLocale = getLocale(Astro.url) ?? DEFAULT_LOCALE;
const locales = Object.values(LOCALES);
const urlWithoutLocalePrefix = getUrlWithoutLocale(Astro.url);
---

<script>
	import { navigate } from "astro:transitions/client";
	import Alpine from "alpinejs";

	document.addEventListener("alpine:init", () => {
		Alpine.data("dropdownData", () => ({
			changePage(event: any) {
				navigate(event.target.value);
			},
		}));
	});
</script>

<select aria-label="Change language" class="glass-panel px-3 py-1 text-sm" x-data="dropdownData" x-on:change="changePage($event)">
	{locales.map((locale) => (
		<option value={`/${locale}${urlWithoutLocalePrefix}`} selected={locale === currentLocale}>
			{locale === "ja" ? "日本語" : "English"}
		</option>
	))}
</select>
